# Ignore Node.js build output
node_modules/

# Ignore Electron build output
out/
dist/

# Ignore VS Code specific files
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug log
npm-debug.log

# Ignore version packages files
package-local.json
yarn.lock